@font-face {
  font-family: 'Capone Light';
  src:  url('~@/assets/fonts/Capone-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'alittlepot';
  src:  url('~@/assets/fonts/alittlepot.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChildWriting-Regular';
  src:  url('~@/assets/fonts/ChildWriting-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cute_Font';
  src:  url('~@/assets/fonts/Cute_Font.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CuteHandWriting';
  src:  url('~@/assets/fonts/CuteHandWriting.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'daniel';
  src:  url('~@/assets/fonts/daniel.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Faraco Hand';
  src:  url('~@/assets/fonts/Faraco Hand.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Good-night';
  src:  url('~@/assets/fonts/Good-night.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'homeworkpreschooler';
  src:  url('~@/assets/fonts/homeworkpreschooler.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kindergarten';
  src:  url('~@/assets/fonts/kindergarten.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lemon Tuesday';
  src:  url('~@/assets/fonts/Lemon Tuesday.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Luna';
  src:  url('~@/assets/fonts/Luna.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Morning Coffee';
  src:  url('~@/assets/fonts/Morning Coffee.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotebookScribble';
  src:  url('~@/assets/fonts/NotebookScribble.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quick note';
  src:  url('~@/assets/fonts/Quick note.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Southpaw';
  src:  url('~@/assets/fonts/Southpaw.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TheDogAteMyHomework';
  src:  url('~@/assets/fonts/TheDogAteMyHomework.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}